<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <display-name>Choices</display-name>
    <description>Web-App to support a group choice by observing detailed preferences of all members of the group</description>
    <servlet>
        <servlet-name>choicedispatcher</servlet-name>
        <servlet-class>com.tsmms.hackathon.choices.ChoiceDispatcher</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>prototypechoicedispatcher</servlet-name>
        <servlet-class>com.tsmms.hackathon.choices.prototype.MChoiceController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>helloworld</servlet-name>
        <servlet-class>com.tsmms.hackathon.choices.hello.HelloWorldServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>hellodispatcher</servlet-name>
        <servlet-class>com.tsmms.hackathon.choices.hello.HelloDispatcher</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <filter>
        <filter-name>miniwicket</filter-name>
        <filter-class>com.tsmms.hackathon.choices.miniwicket.MiniWicketServletFilter</filter-class>
        <init-param>
            <param-name>ignorePaths</param-name>
            <param-value>css/,img/,js/,/hellodispatch/,/hello/,/prototype/,/hellowicket/</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>wicket.filter</filter-name>
        <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
        <init-param>
            <param-name>applicationClassName</param-name>
            <param-value>com.tsmms.hackathon.choices.hellowicket.HelloWicketApplication</param-value>
        </init-param>
        <init-param>
            <param-name>ignorePaths</param-name>
            <param-value>css/,img/,js/,/hellodispatch/,/hello/,/prototype/</param-value>
        </init-param>
        <init-param>
            <param-name>configuration</param-name>
            <param-value>development</param-value>
        </init-param>
    </filter>
    <servlet-mapping>
        <servlet-name>choicedispatcher</servlet-name>
        <url-pattern>/new</url-pattern>
        <url-pattern>/a/*</url-pattern>
        <url-pattern>/c/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prototypechoicedispatcher</servlet-name>
        <url-pattern>/prototype/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>helloworld</servlet-name>
        <url-pattern>/hello/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hellodispatcher</servlet-name>
        <url-pattern>/hellodispatch/*</url-pattern>
    </servlet-mapping>
    <filter-mapping>
        <filter-name>miniwicket</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>wicket.filter</filter-name>
        <url-pattern>/hellowicket/*</url-pattern>
    </filter-mapping>

    <session-config>
        <!-- <session-timeout>1</session-timeout> -->
    </session-config>
</web-app>
